<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Piano Sheet Converter | Admin</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Piano Sheet Converter</h2>
    <p>Converting audio files into piano rolls is a process that involves translating the audio data into a format that can be visualized and edited in a MIDI sequencer. This process is particularly useful for musicians and producers who want to manipulate and rearrange audio recordings in a more detailed and precise way.</p>
    <button><a href="https://localhost:3000">Visit</a></button>
</body>
</html>