@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #2816FF 0%, #8000FF 25%, #CD69FC 51%, #2816FF 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}